node-red/nodi.txt
[{"id":"87a97f11.d5fb4","type":"tab","label":"System","disabled":false,"info":"In questo flusso vengono intercettati i messaggi sul topic \"system\".\n\nQuando arriva il messaggio \"wake\", questo viene trasmesso agli altri flussi per impostare i valori di default degli switch della dashboard.\n\nÈ anche presente un nodo che raccoglie tutti i possibili allarmi e li aggiunge a un log."},{"id":"484a9e02.419e08","type":"tab","label":"Elevators","disabled":false,"info":"In questo flusso vengono intercettati i messaggi relativi agli ascensori.\n\nA seconda dell'ascensore in oggetto, i messaggi vengono diramati al flusso corrispondente. "},{"id":"826ade72.5c44f8","type":"tab","label":"Elevator 1","disabled":false,"info":"Diramazioni relative all'ascensore 1."},{"id":"2d274adf.e9dcde","type":"tab","label":"Elevator 2","disabled":false,"info":"Diramazioni relative all'ascensore 2."},{"id":"3c9d4323.78dd94","type":"tab","label":"Elevator 3","disabled":false,"info":"Diramazioni relative all'ascensore 3."},{"id":"d048ff10.f11ad","type":"tab","label":"Elevator 4","disabled":false,"info":"Diramazioni relative all'ascensore 4 (montacarichi)."},{"id":"ebd0a4a1.2aec68","type":"tab","label":"Sensors","disabled":false,"info":"In questo flusso vengono intercettati i messaggi relativi ai sensori."},{"id":"a97e9df7.9c1238","type":"tab","label":"Conditioners","disabled":false,"info":"In questo flusso vengono intercettati i messaggi relativi ai condizionatori.\n\nLe letture dei condizionatori presenti negli ascensori vengono inviate a componenti delle relative dashboard degli ascensori anziché alla dashboard dei condizionatori."},{"id":"2ba2890.fc391f8","type":"tab","label":"Alarms","disabled":false,"info":"In questo flusso vengono intercettati i messaggi relativi agli allarmi antintrusione."},{"id":"ba569d63.dd9ff","type":"subflow","name":"Elevator parse","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"8edb01ca.d5ebd8"}]}],"out":[{"x":480,"y":60,"wires":[{"id":"85f6f1ed.21d4","port":0}]}]},{"id":"3e12d6d0.51ba02","type":"subflow","name":"Sensor parse","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"9c8229cd.b87be"}]}],"out":[{"x":480,"y":60,"wires":[{"id":"afef5ee8.47f868","port":0}]}]},{"id":"bb933447.87be48","type":"subflow","name":"Conditioner parse","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"980f1119.456c28"}]}],"out":[{"x":480,"y":60,"wires":[{"id":"411ea7e0.8f721","port":0}]}]},{"id":"9eddc793.9d0dc","type":"subflow","name":"Alarm parse","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"9f0ffc9a.bb87a"}]}],"out":[{"x":480,"y":60,"wires":[{"id":"5239106f.991e68","port":0}]}]},{"id":"33768179.b44fbe","type":"subflow","name":"Alarm template","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"b7e876ed.fa3778"}]}],"out":[{"x":340,"y":60,"wires":[{"id":"b7e876ed.fa3778","port":0}]}]},{"id":"8e35a52a.e99558","type":"subflow","name":"switch per allarme","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"9be5b602.857008"}]}],"out":[{"x":680,"y":40,"wires":[{"id":"21461276.ae261e","port":0}]},{"x":680,"y":100,"wires":[{"id":"868df1e6.b5fdb","port":0}]},{"x":680,"y":160,"wires":[{"id":"e8bfd6a0.3eeac8","port":0}]},{"x":680,"y":220,"wires":[{"id":"494c4850.db1e28","port":0}]}]},{"id":"6b6a5161.5fe1","type":"subflow","name":"switch per e_id","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"84d134e.291fa48"}]}],"out":[{"x":320,"y":40,"wires":[{"id":"84d134e.291fa48","port":0}]},{"x":320,"y":80,"wires":[{"id":"84d134e.291fa48","port":1}]},{"x":320,"y":120,"wires":[{"id":"84d134e.291fa48","port":2}]},{"x":320,"y":160,"wires":[{"id":"84d134e.291fa48","port":3}]}]},{"id":"1919e428.f8157c","type":"subflow","name":"switch per direzione","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"65093dc4.51f384"}]}],"out":[{"x":280,"y":60,"wires":[{"id":"65093dc4.51f384","port":0}]}]},{"id":"c6e1491d.28c4b8","type":"subflow","name":"estrai e switch status","info":"","category":"","in":[{"x":220,"y":220,"wires":[{"id":"4955945f.3aa17c"}]}],"out":[{"x":680,"y":200,"wires":[{"id":"6faaf150.5787c","port":0}]},{"x":680,"y":240,"wires":[{"id":"6faaf150.5787c","port":1}]}]},{"id":"dc0d09f5.d78628","type":"subflow","name":"Command template","info":"","category":"","in":[{"x":60,"y":60,"wires":[{"id":"63a1f21d.95c1a4"}]}],"out":[{"x":340,"y":60,"wires":[{"id":"63a1f21d.95c1a4","port":0}]}]},{"id":"91ae88c6.50d088","type":"subflow","name":"switch per c_id","info":"","category":"","in":[{"x":60,"y":120,"wires":[{"id":"69000399.4b8924"}]}],"out":[{"x":360,"y":40,"wires":[{"id":"69000399.4b8924","port":0}]},{"x":360,"y":80,"wires":[{"id":"69000399.4b8924","port":1}]},{"x":360,"y":120,"wires":[{"id":"69000399.4b8924","port":2}]},{"x":360,"y":160,"wires":[{"id":"69000399.4b8924","port":3}]},{"x":360,"y":200,"wires":[{"id":"69000399.4b8924","port":4}]},{"x":360,"y":240,"wires":[{"id":"69000399.4b8924","port":5}]},{"x":360,"y":280,"wires":[{"id":"69000399.4b8924","port":6}]},{"x":360,"y":320,"wires":[{"id":"69000399.4b8924","port":7}]},{"x":360,"y":360,"wires":[{"id":"69000399.4b8924","port":8}]}]},{"id":"deac7415.4f8d98","type":"subflow","name":"switch per tipo ed estrai arg. comando","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"1fa2f1e.185c40e"}]}],"out":[{"x":560,"y":40,"wires":[{"id":"1fa2f1e.185c40e","port":0}]},{"x":560,"y":100,"wires":[{"id":"aee2b493.4a429","port":0}]}]},{"id":"77cb9da5.eb7854","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":true},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"9d9ccb26.77e3d8","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"75b2a120.349788","type":"ui_tab","z":"","name":"Ascensore 1","icon":"import_export","order":1},{"id":"c4e12b26.0fc0d","type":"ui_group","z":"","name":"Statistiche","tab":"75b2a120.349788","order":2,"disp":true,"width":"8","collapse":false},{"id":"fb694978.429e8","type":"ui_group","z":"","name":"Stato","tab":"75b2a120.349788","order":1,"disp":true,"width":"8","collapse":false},{"id":"58ef7fca.a1ef08","type":"ui_group","z":"","name":"Controlli","tab":"75b2a120.349788","order":3,"disp":true,"width":"4","collapse":false},{"id":"d5f56a08.5d4178","type":"ui_tab","z":"","name":"Ascensore 2","icon":"import_export","order":2},{"id":"fa344780.6eebc8","type":"ui_tab","z":"","name":"Ascensore 3","icon":"import_export","order":3},{"id":"39cf0541.ff3b2a","type":"ui_group","z":"","name":"Stato","tab":"d5f56a08.5d4178","order":1,"disp":true,"width":"8","collapse":false},{"id":"307d1451.62e92c","type":"ui_group","z":"","name":"Statistiche","tab":"d5f56a08.5d4178","order":2,"disp":true,"width":"8","collapse":false},{"id":"2da0f52.641430a","type":"ui_group","z":"","name":"Controlli","tab":"d5f56a08.5d4178","order":3,"disp":true,"width":"4","collapse":false},{"id":"6f08d594.7bcea4","type":"ui_group","z":"","name":"Stato","tab":"fa344780.6eebc8","order":1,"disp":true,"width":"8","collapse":false},{"id":"df8f1d55.964668","type":"ui_group","z":"","name":"Statistiche","tab":"fa344780.6eebc8","order":2,"disp":true,"width":"8","collapse":false},{"id":"c083da41.ed272","type":"ui_group","z":"","name":"Controlli","tab":"fa344780.6eebc8","order":3,"disp":true,"width":"4","collapse":false},{"id":"64b43015.f24518","type":"ui_tab","z":"","name":"Sensori","icon":"settings_input_antenna","order":5},{"id":"750bc0a9.b3a84","type":"ui_group","z":"","name":"Temperatura esterna","tab":"64b43015.f24518","order":2,"disp":true,"width":"6","collapse":false},{"id":"8744314f.fa89f","type":"ui_group","z":"","name":"Pioggia","tab":"64b43015.f24518","order":3,"disp":true,"width":"6","collapse":false},{"id":"95d1abcd.937d38","type":"ui_group","z":"","name":"Radioattività","tab":"64b43015.f24518","order":4,"disp":true,"width":"12","collapse":false},{"id":"d39e4625.955b78","type":"ui_tab","z":"","name":"Antintrusione","icon":"security","order":7},{"id":"d2de2836.10d138","type":"ui_group","z":"","name":"Piano 0","tab":"d39e4625.955b78","order":4,"disp":true,"width":"4","collapse":false},{"id":"b0fcc899.a18f6","type":"ui_group","z":"","name":"Piano 1","tab":"d39e4625.955b78","order":5,"disp":true,"width":"4","collapse":false},{"id":"17ea6e8a.892d39","type":"ui_group","z":"","name":"Piano 2","tab":"d39e4625.955b78","order":6,"disp":true,"width":"4","collapse":false},{"id":"3a918525.8867c2","type":"ui_group","z":"","name":"Piano -1","tab":"d39e4625.955b78","order":3,"disp":true,"width":"4","collapse":false},{"id":"b568b2b8.45c218","type":"ui_group","z":"","name":"Piano -2","tab":"d39e4625.955b78","order":2,"disp":true,"width":"4","collapse":false},{"id":"be43f26d.2c9f08","type":"ui_tab","z":"","name":"Condizionatori","icon":"ac_unit","order":6},{"id":"25592033.9094a","type":"ui_group","z":"","name":"Piano -2","tab":"be43f26d.2c9f08","order":1,"disp":true,"width":"5","collapse":false},{"id":"4b0f83aa.ae79d4","type":"ui_group","z":"","name":"Piano -1","tab":"be43f26d.2c9f08","order":2,"disp":true,"width":"5","collapse":false},{"id":"71247771.491b2","type":"ui_group","z":"","name":"Piano 0","tab":"be43f26d.2c9f08","order":3,"disp":true,"width":"5","collapse":false},{"id":"b633e749.852208","type":"ui_group","z":"","name":"Piano 1","tab":"be43f26d.2c9f08","order":4,"disp":true,"width":"5","collapse":false},{"id":"1dcd8477.a6fefc","type":"ui_group","z":"","name":"Piano 2","tab":"be43f26d.2c9f08","order":5,"disp":true,"width":"5","collapse":false},{"id":"51d55654.40878","type":"ui_group","z":"","name":"Temperatura obiettivo","tab":"be43f26d.2c9f08","order":6,"disp":true,"width":"12","collapse":false},{"id":"9338ab3a.58b178","type":"ui_tab","z":"","name":"Log","icon":"feedback","order":8},{"id":"25ff6258.e0e1be","type":"ui_group","z":"","name":"Log","tab":"9338ab3a.58b178","order":1,"disp":false,"width":"16","collapse":false},{"id":"33eed976.89a616","type":"ui_group","z":"","name":"Perimetro","tab":"d39e4625.955b78","order":1,"disp":true,"width":"4","collapse":false},{"id":"382bd10b.08473e","type":"ui_group","z":"","name":"Scenari","tab":"d39e4625.955b78","order":7,"disp":true,"width":"3","collapse":false},{"id":"2a2fd3b4.a7879c","type":"ui_tab","z":"","name":"Montacarichi","icon":"import_export","order":4},{"id":"5d5e05ab.d0a4fc","type":"ui_group","z":"","name":"Stato","tab":"2a2fd3b4.a7879c","order":1,"disp":true,"width":"8","collapse":false},{"id":"fb58e3d6.92727","type":"ui_group","z":"","name":"Statistiche","tab":"2a2fd3b4.a7879c","order":2,"disp":true,"width":"8","collapse":false},{"id":"faa421d2.9b4ce","type":"ui_group","z":"","name":"Controlli","tab":"2a2fd3b4.a7879c","order":3,"disp":true,"width":"4","collapse":false},{"id":"417e00d0.88f5c","type":"mqtt in","z":"484a9e02.419e08","name":"","topic":"elevator/+/stats","qos":"0","broker":"9d9ccb26.77e3d8","x":100,"y":60,"wires":[["e6be1f8b.d192a"]]},{"id":"ff4888fc.186de","type":"mqtt in","z":"484a9e02.419e08","name":"","topic":"elevator/+/messages","qos":"0","broker":"9d9ccb26.77e3d8","x":120,"y":220,"wires":[["38ef82d7.ada6b6"]]},{"id":"e2c6b084.e72c3","type":"ui_toast","z":"484a9e02.419e08","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":990,"y":320,"wires":[]},{"id":"42015dda.7fdf5c","type":"mqtt in","z":"484a9e02.419e08","name":"","topic":"elevator/+/alarms","qos":"2","broker":"9d9ccb26.77e3d8","x":110,"y":340,"wires":[["c2abdfd7.8d01a8"]]},{"id":"60cfb415.f57934","type":"debug","z":"484a9e02.419e08","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":540,"y":440,"wires":[]},{"id":"81d9b82d.d50568","type":"switch","z":"484a9e02.419e08","name":"switch per tipo","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"disconnection","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":340,"wires":[["c8616e22.1bbfb8"]]},{"id":"c8616e22.1bbfb8","type":"template","z":"484a9e02.419e08","name":"Allarme disconnessione","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attenzione! Ascensore {{e_id}} disconnesso!","output":"str","x":740,"y":340,"wires":[["e2c6b084.e72c3","b549c55f.f29f6","1fb6b8f1.6d3877"]]},{"id":"2a60f433.c1ea4c","type":"link out","z":"484a9e02.419e08","name":"Elevators stats to 1","links":["b1f4c179.30fe38"],"x":715,"y":20,"wires":[]},{"id":"b1f4c179.30fe38","type":"link in","z":"826ade72.5c44f8","name":"Elevator 1 stats","links":["2a60f433.c1ea4c"],"x":35,"y":160,"wires":[["d216570d.44f08","f990c513.dd0388"]]},{"id":"abddea7a.bc3c5","type":"link out","z":"484a9e02.419e08","name":"Elevators messages to 1","links":["d0ac95d7.515758"],"x":715,"y":180,"wires":[]},{"id":"d0ac95d7.515758","type":"link in","z":"826ade72.5c44f8","name":"Elevator 1 messages","links":["abddea7a.bc3c5"],"x":35,"y":320,"wires":[["2f93b376.49c01c"]]},{"id":"965419e0.0a91c8","type":"mqtt out","z":"826ade72.5c44f8","name":"","topic":"elevator/1/commands","qos":"2","retain":"false","broker":"9d9ccb26.77e3d8","x":970,"y":320,"wires":[]},{"id":"779ca8ec.fd9118","type":"ui_chart","z":"826ade72.5c44f8","name":"","group":"c4e12b26.0fc0d","order":1,"width":"0","height":"0","label":"Piano","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":120,"wires":[[],[]]},{"id":"d216570d.44f08","type":"change","z":"826ade72.5c44f8","name":"Estrai floor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.floor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":100,"wires":[["779ca8ec.fd9118","838a207d.35d6e"]]},{"id":"85759885.3b2918","type":"ui_text","z":"826ade72.5c44f8","group":"fb694978.429e8","order":3,"width":0,"height":0,"name":"Direzione","label":"Direzione:","format":"{{msg.payload}}","layout":"row-center","x":740,"y":160,"wires":[]},{"id":"838a207d.35d6e","type":"ui_text","z":"826ade72.5c44f8","group":"fb694978.429e8","order":2,"width":0,"height":0,"name":"Piano","label":"Piano:","format":"{{msg.payload}}","layout":"row-center","x":410,"y":80,"wires":[]},{"id":"4fd03ad6.362624","type":"ui_text","z":"826ade72.5c44f8","group":"fb694978.429e8","order":1,"width":0,"height":0,"name":"Funzionamento","label":"Funzionamento:","format":"{{msg.payload}}","layout":"row-center","x":720,"y":220,"wires":[]},{"id":"124e2fbe.e56588","type":"ui_switch","z":"826ade72.5c44f8","name":"","label":"Manutenzione","group":"58ef7fca.a1ef08","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":560,"y":320,"wires":[["ae0e9e86.e9fba"]]},{"id":"90ae7216.da7d08","type":"ui_button","z":"826ade72.5c44f8","name":"","group":"58ef7fca.a1ef08","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"3","payloadType":"num","topic":"","x":570,"y":380,"wires":[["ae0e9e86.e9fba"]]},{"id":"a5d0347c.f56eb","type":"link in","z":"2d274adf.e9dcde","name":"Elevator 2 stats","links":["edb9f684.5c6b88"],"x":35,"y":160,"wires":[["b7d1b270.a0ef08","55778fb5.5e8c8"]]},{"id":"cfa8d3c3.cae52","type":"link in","z":"2d274adf.e9dcde","name":"Elevator 2 messages","links":["1fa245c5.9074d2"],"x":35,"y":320,"wires":[["22456c2a.eac744"]]},{"id":"6ae48fb6.9fb9c8","type":"mqtt out","z":"2d274adf.e9dcde","name":"","topic":"elevator/2/commands","qos":"2","retain":"false","broker":"9d9ccb26.77e3d8","x":970,"y":320,"wires":[]},{"id":"b6bbca.ae59ac38","type":"ui_chart","z":"2d274adf.e9dcde","name":"","group":"307d1451.62e92c","order":1,"width":"0","height":"0","label":"Piano","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":120,"wires":[[],[]]},{"id":"b7d1b270.a0ef08","type":"change","z":"2d274adf.e9dcde","name":"Estrai floor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.floor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":100,"wires":[["b6bbca.ae59ac38","d85ac5dd.a75748"]]},{"id":"56af9a40.55f8ac","type":"ui_text","z":"2d274adf.e9dcde","group":"39cf0541.ff3b2a","order":3,"width":0,"height":0,"name":"Direzione","label":"Direzione:","format":"{{msg.payload}}","layout":"row-center","x":740,"y":160,"wires":[]},{"id":"d85ac5dd.a75748","type":"ui_text","z":"2d274adf.e9dcde","group":"39cf0541.ff3b2a","order":2,"width":0,"height":0,"name":"Piano","label":"Piano:","format":"{{msg.payload}}","layout":"row-center","x":410,"y":80,"wires":[]},{"id":"9fc387ea.2efd88","type":"ui_text","z":"2d274adf.e9dcde","group":"39cf0541.ff3b2a","order":1,"width":0,"height":0,"name":"Funzionamento","label":"Funzionamento:","format":"{{msg.payload}}","layout":"row-center","x":720,"y":220,"wires":[]},{"id":"affdc450.7a003","type":"ui_switch","z":"2d274adf.e9dcde","name":"","label":"Manutenzione","group":"2da0f52.641430a","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":560,"y":320,"wires":[["534604da.97ec4c"]]},{"id":"4ca1418d.ad2fd8","type":"ui_button","z":"2d274adf.e9dcde","name":"","group":"2da0f52.641430a","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"3","payloadType":"num","topic":"","x":570,"y":380,"wires":[["534604da.97ec4c"]]},{"id":"4464ed93.e44ad4","type":"link in","z":"3c9d4323.78dd94","name":"Elevator 3 stats","links":["b766d524.9639e8"],"x":35,"y":160,"wires":[["db8d36fd.e1b11","a2d6c086.b785d"]]},{"id":"567eafe2.902f98","type":"link in","z":"3c9d4323.78dd94","name":"Elevator 3 messages","links":["6a6ed37e.9bbac4"],"x":35,"y":320,"wires":[["57c5fc9e.4098a4"]]},{"id":"dd071ac5.204618","type":"mqtt out","z":"3c9d4323.78dd94","name":"","topic":"elevator/3/commands","qos":"2","retain":"false","broker":"9d9ccb26.77e3d8","x":970,"y":320,"wires":[]},{"id":"55822ae9.d34b3c","type":"ui_chart","z":"3c9d4323.78dd94","name":"","group":"df8f1d55.964668","order":1,"width":"0","height":"0","label":"Piano","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":120,"wires":[[],[]]},{"id":"db8d36fd.e1b11","type":"change","z":"3c9d4323.78dd94","name":"Estrai floor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.floor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":100,"wires":[["55822ae9.d34b3c","c0aa5ee9.191c98"]]},{"id":"ab645640.665b3","type":"ui_text","z":"3c9d4323.78dd94","group":"6f08d594.7bcea4","order":3,"width":0,"height":0,"name":"Direzione","label":"Direzione:","format":"{{msg.payload}}","layout":"row-center","x":740,"y":160,"wires":[]},{"id":"c0aa5ee9.191c98","type":"ui_text","z":"3c9d4323.78dd94","group":"6f08d594.7bcea4","order":2,"width":0,"height":0,"name":"Piano","label":"Piano:","format":"{{msg.payload}}","layout":"row-center","x":410,"y":80,"wires":[]},{"id":"b803f9e9.06e24","type":"ui_text","z":"3c9d4323.78dd94","group":"6f08d594.7bcea4","order":1,"width":0,"height":0,"name":"Funzionamento","label":"Funzionamento:","format":"{{msg.payload}}","layout":"row-center","x":720,"y":220,"wires":[]},{"id":"202300cc.407218","type":"ui_switch","z":"3c9d4323.78dd94","name":"","label":"Manutenzione","group":"c083da41.ed272","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":560,"y":320,"wires":[["1bf1736a.c1685d"]]},{"id":"51c15a5c.be9b04","type":"ui_button","z":"3c9d4323.78dd94","name":"","group":"c083da41.ed272","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"3","payloadType":"num","topic":"","x":570,"y":380,"wires":[["1bf1736a.c1685d"]]},{"id":"84d134e.291fa48","type":"switch","z":"6b6a5161.5fe1","name":"","property":"e_id","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"}],"checkall":"true","repair":false,"outputs":4,"x":170,"y":60,"wires":[[],[],[],[]]},{"id":"edb9f684.5c6b88","type":"link out","z":"484a9e02.419e08","name":"Elevators stats to 2","links":["a5d0347c.f56eb"],"x":715,"y":60,"wires":[]},{"id":"b766d524.9639e8","type":"link out","z":"484a9e02.419e08","name":"Elevators stats to 3","links":["4464ed93.e44ad4"],"x":715,"y":100,"wires":[]},{"id":"1fa245c5.9074d2","type":"link out","z":"484a9e02.419e08","name":"Elevators messages to 2","links":["cfa8d3c3.cae52"],"x":715,"y":220,"wires":[]},{"id":"6a6ed37e.9bbac4","type":"link out","z":"484a9e02.419e08","name":"Elevators messages to 3","links":["567eafe2.902f98"],"x":715,"y":260,"wires":[]},{"id":"8d4772d3.7b36d","type":"mqtt in","z":"ebd0a4a1.2aec68","name":"","topic":"sensor/+/readings","qos":"0","broker":"9d9ccb26.77e3d8","x":110,"y":60,"wires":[["a6bc9913.c1f8e8"]]},{"id":"5c761838.8660c8","type":"mqtt in","z":"ebd0a4a1.2aec68","name":"","topic":"sensor/+/alarms","qos":"2","broker":"9d9ccb26.77e3d8","x":100,"y":240,"wires":[["b791b73f.e14178"]]},{"id":"7a240e6.06b357","type":"switch","z":"ebd0a4a1.2aec68","name":"switch per s_id","property":"s_id","propertyType":"msg","rules":[{"t":"eq","v":"ExternalTemperature","vt":"str"},{"t":"eq","v":"Pioggia","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":620,"y":60,"wires":[["b827afbb.1137c"],["7c37aa4a.df161c"],["4b46edc6.1ca30c"]]},{"id":"b827afbb.1137c","type":"ui_chart","z":"ebd0a4a1.2aec68","name":"Temperatura","group":"750bc0a9.b3a84","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":40,"wires":[[],[]]},{"id":"7c37aa4a.df161c","type":"ui_chart","z":"ebd0a4a1.2aec68","name":"Pioggia","group":"8744314f.fa89f","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":80,"wires":[[],[]]},{"id":"4b46edc6.1ca30c","type":"ui_chart","z":"ebd0a4a1.2aec68","name":"Radioattività","group":"95d1abcd.937d38","order":0,"width":0,"height":0,"label":"","chartType":"line","legend":"true","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"0.001","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":830,"y":120,"wires":[[],[]]},{"id":"6fa486e3.4a55","type":"ui_toast","z":"ebd0a4a1.2aec68","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":920,"y":220,"wires":[]},{"id":"2e4713ed.da24ac","type":"template","z":"ebd0a4a1.2aec68","name":"Allarme anomalia","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attenzione! Registrata anomalia dal sensore {{s_id}}!","output":"str","x":650,"y":220,"wires":[["6fa486e3.4a55","2e42bfc0.c01138","6495dbcc.c75fb4"]]},{"id":"9e3e5159.74738","type":"template","z":"ebd0a4a1.2aec68","name":"Allarme disconnessione","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attenzione! Sensore {{s_id}} disconnesso!","output":"str","x":670,"y":260,"wires":[["6fa486e3.4a55","2e42bfc0.c01138","6495dbcc.c75fb4"]]},{"id":"321de51a.e568c2","type":"switch","z":"ebd0a4a1.2aec68","name":"switch per tipo","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"danger","vt":"str"},{"t":"eq","v":"disconnection","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":460,"y":240,"wires":[["2e4713ed.da24ac"],["9e3e5159.74738"]]},{"id":"d6f51e56.4f3b7","type":"debug","z":"ebd0a4a1.2aec68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":320,"wires":[]},{"id":"85f6f1ed.21d4","type":"change","z":"ba569d63.dd9ff","name":"","rules":[{"t":"set","p":"e_id","pt":"msg","to":"$number($match(topic, /elevator\\/(\\d)\\//).groups[0])","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[[]]},{"id":"afef5ee8.47f868","type":"change","z":"3e12d6d0.51ba02","name":"","rules":[{"t":"set","p":"s_id","pt":"msg","to":"$match(topic, /sensor\\/(.+)\\//).groups[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[[]]},{"id":"2c272c08.83698c","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"c4e12b26.0fc0d","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":350,"y":240,"wires":[[],[]]},{"id":"aa711d2d.176998","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"fb694978.429e8","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":350,"y":280,"wires":[]},{"id":"3f155d60.0ff95a","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"307d1451.62e92c","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":350,"y":320,"wires":[[],[]]},{"id":"7c593f74.785b88","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"39cf0541.ff3b2a","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":350,"y":360,"wires":[]},{"id":"8c416cca.9e958","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"df8f1d55.964668","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":350,"y":400,"wires":[[],[]]},{"id":"36424640.1d0dba","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"6f08d594.7bcea4","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":350,"y":440,"wires":[]},{"id":"e4961375.b029a","type":"mqtt in","z":"a97e9df7.9c1238","name":"","topic":"conditioner/+/readings","qos":"0","broker":"9d9ccb26.77e3d8","x":120,"y":180,"wires":[["7b10739b.a70abc"]]},{"id":"411ea7e0.8f721","type":"change","z":"bb933447.87be48","name":"","rules":[{"t":"set","p":"c_id","pt":"msg","to":"$match(topic, /conditioner\\/(.+)\\//).groups[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[[]]},{"id":"28f9af61.9cc908","type":"debug","z":"a97e9df7.9c1238","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":530,"y":120,"wires":[]},{"id":"e6be1f8b.d192a","type":"subflow:ba569d63.dd9ff","z":"484a9e02.419e08","x":280,"y":60,"wires":[["5e7662dc.60ca8c","60cfb415.f57934"]]},{"id":"8edb01ca.d5ebd8","type":"json","z":"ba569d63.dd9ff","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":60,"wires":[["85f6f1ed.21d4"]]},{"id":"38ef82d7.ada6b6","type":"subflow:ba569d63.dd9ff","z":"484a9e02.419e08","name":"","x":310,"y":220,"wires":[["60cfb415.f57934","aee03f12.13e1"]]},{"id":"c2abdfd7.8d01a8","type":"subflow:ba569d63.dd9ff","z":"484a9e02.419e08","name":"","x":290,"y":340,"wires":[["81d9b82d.d50568","60cfb415.f57934"]]},{"id":"a6bc9913.c1f8e8","type":"subflow:3e12d6d0.51ba02","z":"ebd0a4a1.2aec68","x":290,"y":60,"wires":[["d6f51e56.4f3b7","699e490a.bdcbd"]]},{"id":"9c8229cd.b87be","type":"json","z":"3e12d6d0.51ba02","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":60,"wires":[["afef5ee8.47f868"]]},{"id":"7b10739b.a70abc","type":"subflow:bb933447.87be48","z":"a97e9df7.9c1238","x":330,"y":180,"wires":[["28f9af61.9cc908","1b4514c7.5cb153"]]},{"id":"980f1119.456c28","type":"json","z":"bb933447.87be48","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":60,"wires":[["411ea7e0.8f721"]]},{"id":"b791b73f.e14178","type":"subflow:3e12d6d0.51ba02","z":"ebd0a4a1.2aec68","name":"","x":270,"y":240,"wires":[["321de51a.e568c2","d6f51e56.4f3b7"]]},{"id":"1b4514c7.5cb153","type":"change","z":"a97e9df7.9c1238","name":"Estrai argomento","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.argument","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":180,"wires":[["5a8c38cc.d8a218"]]},{"id":"699e490a.bdcbd","type":"change","z":"ebd0a4a1.2aec68","name":"Estrai lettura","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.argument","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":60,"wires":[["7a240e6.06b357"]]},{"id":"63a1f21d.95c1a4","type":"template","z":"dc0d09f5.d78628","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\":\"status\",\"argument\":{{payload}}}","output":"str","x":200,"y":60,"wires":[[]]},{"id":"d36c0244.70fcc","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"58ef7fca.a1ef08","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":760,"wires":[["85fe8b92.4958e8"]]},{"id":"290a2c5b.9d0004","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Elevator1/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":810,"y":760,"wires":[]},{"id":"cc654bc7.861dd8","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"2da0f52.641430a","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":820,"wires":[["5479822e.10661c"]]},{"id":"e17525f3.b383b8","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Elevator2/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":810,"y":820,"wires":[]},{"id":"14599d6.1708a63","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"c083da41.ed272","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":880,"wires":[["77ca43ef.a442dc"]]},{"id":"7ff83832.462ab8","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Elevator3/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":810,"y":880,"wires":[]},{"id":"e2e5f098.459c08","type":"mqtt in","z":"a97e9df7.9c1238","name":"","topic":"conditioner/+/messages","qos":"0","broker":"9d9ccb26.77e3d8","x":120,"y":680,"wires":[["76d4fdae.9af1bc"]]},{"id":"d3ee2e88.ae729","type":"change","z":"a97e9df7.9c1238","name":"Estrai arg. comando","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.argument.argument","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":680,"wires":[["28e0c710.f02c48"]]},{"id":"76d4fdae.9af1bc","type":"subflow:bb933447.87be48","z":"a97e9df7.9c1238","name":"","x":330,"y":680,"wires":[["f576d244.a1c01","28f9af61.9cc908"]]},{"id":"f576d244.a1c01","type":"switch","z":"a97e9df7.9c1238","name":"switch per comando","property":"payload.argument.command","propertyType":"msg","rules":[{"t":"eq","v":"status","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":560,"y":680,"wires":[["d3ee2e88.ae729"]]},{"id":"aee2b493.4a429","type":"change","z":"deac7415.4f8d98","name":"Estrai arg. comando","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.argument.argument","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":390,"y":100,"wires":[[]]},{"id":"6faaf150.5787c","type":"function","z":"c6e1491d.28c4b8","name":"switch status","func":"let a = [];\na[0] = \"OK\";\na[1] = \"Errore\";\na[2] = \"Manutenzione\";\na[3] = \"Reset\";\nn = msg.payload;\nmsg.payload = a[n];\nreturn [msg, {payload: n}];","outputs":2,"noerr":0,"x":530,"y":220,"wires":[[],[]]},{"id":"1fa2f1e.185c40e","type":"switch","z":"deac7415.4f8d98","name":"switch per tipo","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"status","vt":"str"},{"t":"eq","v":"feedback","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":80,"wires":[[],["aee2b493.4a429"]]},{"id":"4955945f.3aa17c","type":"change","z":"c6e1491d.28c4b8","name":"Estrai status","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.argument","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":220,"wires":[["6faaf150.5787c"]]},{"id":"bf32263c.f70da","type":"mqtt in","z":"2ba2890.fc391f8","name":"","topic":"alarm/+/messages","qos":"2","broker":"9d9ccb26.77e3d8","x":110,"y":100,"wires":[["40b0d9cd.9f20a8"]]},{"id":"1fa9b37b.d25495","type":"mqtt in","z":"2ba2890.fc391f8","name":"","topic":"alarm/+/alarms","qos":"2","broker":"9d9ccb26.77e3d8","x":100,"y":400,"wires":[["8b4cc787.2942"]]},{"id":"5239106f.991e68","type":"change","z":"9eddc793.9d0dc","name":"","rules":[{"t":"set","p":"a_id","pt":"msg","to":"$match(topic, /alarm\\/(.+)\\//).groups[0]","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":330,"y":60,"wires":[[]]},{"id":"9f0ffc9a.bb87a","type":"json","z":"9eddc793.9d0dc","name":"","property":"payload","action":"obj","pretty":false,"x":190,"y":60,"wires":[["5239106f.991e68"]]},{"id":"40b0d9cd.9f20a8","type":"subflow:9eddc793.9d0dc","z":"2ba2890.fc391f8","name":"","x":290,"y":100,"wires":[["8c9e7669.941b68"]]},{"id":"8b4cc787.2942","type":"subflow:9eddc793.9d0dc","z":"2ba2890.fc391f8","name":"","x":290,"y":400,"wires":[["8c9e7669.941b68","4991222b.dc449c"]]},{"id":"b549c55f.f29f6","type":"play audio","z":"484a9e02.419e08","name":"","voice":"","x":980,"y":360,"wires":[]},{"id":"2e42bfc0.c01138","type":"play audio","z":"ebd0a4a1.2aec68","name":"","voice":"","x":910,"y":260,"wires":[]},{"id":"8c9e7669.941b68","type":"debug","z":"2ba2890.fc391f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":490,"y":100,"wires":[]},{"id":"3c2766a.5fac61a","type":"ui_template","z":"2ba2890.fc391f8","group":"33eed976.89a616","name":"LED P3","order":3,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Tetto, Porta 1</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1490,"y":120,"wires":[[]]},{"id":"da0f00d3.6258a","type":"ui_template","z":"2ba2890.fc391f8","group":"b568b2b8.45c218","name":"LED F-2.V1","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 1</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":240,"wires":[[]]},{"id":"bfa0b5fc.68ed8","type":"ui_button","z":"2ba2890.fc391f8","name":"Reset F-2","group":"b568b2b8.45c218","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"0","payloadType":"num","topic":"","x":1140,"y":320,"wires":[["da0f00d3.6258a","85c48ab.5640878","af36738e.df7ca","925818ca.8e1988"]]},{"id":"e43a9af8.383118","type":"ui_template","z":"2ba2890.fc391f8","group":"3a918525.8867c2","name":"LED F-1.V1","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 1</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":440,"wires":[[]]},{"id":"fd1be2fc.aa9a8","type":"ui_button","z":"2ba2890.fc391f8","name":"Reset F-1","group":"3a918525.8867c2","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"0","payloadType":"num","topic":"","x":1140,"y":520,"wires":[["e43a9af8.383118","3d518e.539a0e72","426d8f4c.0396c","58f69835.f3d8f8"]]},{"id":"c33b95e3.f6e398","type":"ui_template","z":"2ba2890.fc391f8","group":"33eed976.89a616","name":"LED P1","order":1,"width":"0","height":"0","format":"<div class=\"led-container\"><p class=\"led-text\">Piano 0, Porta 1</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1490,"y":40,"wires":[[]]},{"id":"e486ed4c.21b5b8","type":"ui_button","z":"2ba2890.fc391f8","name":"Reset Perimetro","group":"33eed976.89a616","order":5,"width":"0","height":"0","passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"0","payloadType":"num","topic":"","x":1150,"y":120,"wires":[["c33b95e3.f6e398","87f6771a.49f2a8","3c2766a.5fac61a","185b09cb.2a9d36"]]},{"id":"87f6771a.49f2a8","type":"ui_template","z":"2ba2890.fc391f8","group":"33eed976.89a616","name":"LED P2","order":2,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Piano 0, Porta 2</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1490,"y":80,"wires":[[]]},{"id":"534b4d39.5e3d7c","type":"ui_template","z":"2ba2890.fc391f8","group":"fb694978.429e8","name":"Stile LED","order":0,"width":0,"height":0,"format":"<style>\n.led-container, .led, .led-blinking {\n    height: 30px;\n}\n.led-text {\n    display: inline-block;\n    padding-left: 1em;\n}\n.led, .led-blinking {\n    display: inline-block;\n    width: 30px;\n    float: left;\n    margin: 0 auto;\n    border-radius: 50%;\n    background-color: #800;\n    box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 0 0;\n}\n.led-blinking {\n    -webkit-animation: blinkRed 1s infinite;\n    -moz-animation: blinkRed 1s infinite;\n    -ms-animation: blinkRed 1s infinite;\n    -o-animation: blinkRed 1s infinite;\n    animation: blinkRed 1s infinite;\n}\n@-webkit-keyframes blinkRed {\n    from { background-color: #800; }\n    50% { background-color: #F00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; }\n    to { background-color: #800; }\n}\n@-moz-keyframes blinkRed {\n    from { background-color: #800; }\n    50% { background-color: #F00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; }\n    to { background-color: #800; }\n}\n@-ms-keyframes blinkRed {\n    from { background-color: #800; }\n    50% { background-color: #F00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; }\n    to { background-color: #800; }\n}\n@-o-keyframes blinkRed {\n    from { background-color: #800; }\n    50% { background-color: #F00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; }\n    to { background-color: #800; }\n}\n@keyframes blinkRed {\n    from { background-color: #800; }\n    50% { background-color: #F00; box-shadow: rgba(0, 0, 0, 0.2) 0 -1px 7px 1px, inset #441313 0 -1px 9px, rgba(255, 0, 0, 0.5) 0 2px 12px; }\n    to { background-color: #800; }\n}\n</style>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"global","x":80,"y":40,"wires":[[]]},{"id":"22f2268.39bd25a","type":"ui_toast","z":"2ba2890.fc391f8","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":620,"y":540,"wires":[]},{"id":"b02a863b.6951c","type":"template","z":"2ba2890.fc391f8","name":"Allarme intrusione","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attenzione! Registrata intrusione dal sensore {{a_id}}!","output":"str","x":420,"y":540,"wires":[["22f2268.39bd25a","301927ed.dde3b","cd494a9f.b90578"]]},{"id":"da29117b.76af1","type":"template","z":"2ba2890.fc391f8","name":"Allarme disconnessione","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attenzione! Allarme {{a_id}} disconnesso!","output":"str","x":410,"y":580,"wires":[["22f2268.39bd25a","301927ed.dde3b","cd494a9f.b90578"]]},{"id":"4991222b.dc449c","type":"switch","z":"2ba2890.fc391f8","name":"switch per tipo","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"alarm","vt":"str"},{"t":"eq","v":"disconnection","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":470,"y":400,"wires":[["e3a1817c.7e1b1"],["da29117b.76af1"]]},{"id":"301927ed.dde3b","type":"play audio","z":"2ba2890.fc391f8","name":"","voice":"","x":610,"y":580,"wires":[]},{"id":"e6e1e338.5da09","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"25592033.9094a","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":1000,"wires":[["736470a2.3bdcd"]]},{"id":"b566bf64.b50248","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Floor-2/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":800,"y":1000,"wires":[]},{"id":"df1f8fc8.f3b288","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"4b0f83aa.ae79d4","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":1060,"wires":[["3aedd87d.4ce518"]]},{"id":"1cb842d8.73d9e5","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Floor-1/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":800,"y":1060,"wires":[]},{"id":"a41aec83.291a2","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"71247771.491b2","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":1120,"wires":[["e4c2dc3c.e6418"]]},{"id":"f683602b.a569f8","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Floor0/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":800,"y":1120,"wires":[]},{"id":"19825e81.3a75e9","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"b633e749.852208","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":1180,"wires":[["98db8f79.0e98c"]]},{"id":"840153fc.81b93","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Floor1/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":800,"y":1180,"wires":[]},{"id":"6209a760.0003c","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"1dcd8477.a6fefc","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":1240,"wires":[["ec3a3f20.5a6a5"]]},{"id":"cf1c8e5a.a69548","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Floor2/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":800,"y":1240,"wires":[]},{"id":"68900f7f.c2d6c8","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"25592033.9094a","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":240,"wires":[[],[]]},{"id":"27e67d31.e6bd6a","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"25592033.9094a","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":810,"y":280,"wires":[]},{"id":"7d3661d2.c66cf","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"4b0f83aa.ae79d4","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":320,"wires":[[],[]]},{"id":"c098d816.236a8","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"4b0f83aa.ae79d4","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":810,"y":360,"wires":[]},{"id":"54828cd0.0bb894","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"71247771.491b2","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":400,"wires":[[],[]]},{"id":"dfad4146.12b598","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"71247771.491b2","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":810,"y":440,"wires":[]},{"id":"69000399.4b8924","type":"switch","z":"91ae88c6.50d088","name":"","property":"c_id","propertyType":"msg","rules":[{"t":"eq","v":"Elevator1","vt":"str"},{"t":"eq","v":"Elevator2","vt":"str"},{"t":"eq","v":"Elevator3","vt":"str"},{"t":"eq","v":"Elevator4","vt":"str"},{"t":"eq","v":"Floor-2","vt":"str"},{"t":"eq","v":"Floor-1","vt":"str"},{"t":"eq","v":"Floor0","vt":"str"},{"t":"eq","v":"Floor1","vt":"str"},{"t":"eq","v":"Floor2","vt":"str"}],"checkall":"true","repair":false,"outputs":9,"x":230,"y":120,"wires":[[],[],[],[],[],[],[],[],[]]},{"id":"102718f8.8ffdaf","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"b633e749.852208","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":480,"wires":[[],[]]},{"id":"4480bf20.59aad","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"b633e749.852208","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":810,"y":520,"wires":[]},{"id":"aa43f97d.cfbb68","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"1dcd8477.a6fefc","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":810,"y":560,"wires":[[],[]]},{"id":"f41c0d73.8ecdb","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"1dcd8477.a6fefc","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":810,"y":600,"wires":[]},{"id":"94b8dcc1.de50f8","type":"ui_switch","z":"2ba2890.fc391f8","name":"Allarmi Perimetro","label":"Allarmi","group":"33eed976.89a616","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"notifications_active","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"notifications_off","offcolor":"lightgray","x":340,"y":780,"wires":[["9e4c891.f63c978"]]},{"id":"b7e876ed.fa3778","type":"template","z":"33768179.b44fbe","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\":\"alarm_status\",\"argument\":{{payload}}}","output":"str","x":200,"y":60,"wires":[[]]},{"id":"7136701b.999bd","type":"ui_switch","z":"2ba2890.fc391f8","name":"Allarmi F-2","label":"Allarmi","group":"b568b2b8.45c218","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"notifications_active","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"notifications_off","offcolor":"lightgray","x":320,"y":820,"wires":[["4bbbae44.da12c"]]},{"id":"ce3e2530.96c9b8","type":"ui_switch","z":"2ba2890.fc391f8","name":"Allarmi F-1","label":"Allarmi","group":"3a918525.8867c2","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"notifications_active","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"notifications_off","offcolor":"lightgray","x":320,"y":860,"wires":[["f39856df.c84f68"]]},{"id":"2d63d050.2b2618","type":"mqtt in","z":"a97e9df7.9c1238","name":"","topic":"conditioner/+/alarms","qos":"0","broker":"9d9ccb26.77e3d8","x":110,"y":60,"wires":[["aaf33b7e.50ecd"]]},{"id":"34cdce77.07b252","type":"ui_toast","z":"a97e9df7.9c1238","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"","name":"","x":980,"y":40,"wires":[]},{"id":"60acd65.4a83aa8","type":"template","z":"a97e9df7.9c1238","name":"Allarme temperatura","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attenzione! Registrata temperatura anomala dal sensore {{c_id}}!","output":"str","x":720,"y":40,"wires":[["34cdce77.07b252","bf8ed335.1446","291fbb11.acdfa4"]]},{"id":"9ed82ee2.e0b2c","type":"template","z":"a97e9df7.9c1238","name":"Allarme disconnessione","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Attenzione! Condizionatore {{c_id}} disconnesso!","output":"str","x":730,"y":80,"wires":[["34cdce77.07b252","bf8ed335.1446","291fbb11.acdfa4"]]},{"id":"cd1e3fdc.36fe68","type":"switch","z":"a97e9df7.9c1238","name":"switch per tipo","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"temperature","vt":"str"},{"t":"eq","v":"disconnection","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":520,"y":60,"wires":[["60acd65.4a83aa8"],["9ed82ee2.e0b2c"]]},{"id":"bf8ed335.1446","type":"play audio","z":"a97e9df7.9c1238","name":"","voice":"","x":970,"y":80,"wires":[]},{"id":"aaf33b7e.50ecd","type":"subflow:bb933447.87be48","z":"a97e9df7.9c1238","name":"","x":310,"y":60,"wires":[["cd1e3fdc.36fe68","28f9af61.9cc908"]]},{"id":"13e0bbf1.0220ec","type":"mqtt in","z":"87a97f11.d5fb4","name":"","topic":"system","qos":"1","broker":"9d9ccb26.77e3d8","x":70,"y":100,"wires":[["2505068b.0d51d2","507e2173.09b07"]]},{"id":"6a4644da.04507c","type":"switch","z":"87a97f11.d5fb4","name":"switch per payload","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"wake","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":460,"y":100,"wires":[["fcbc4cb0.2ff348","585fabf8.64b51c","b429383a.8ac218","6c6b1e56.ea6ed8","600dbcb9.e362d4","5b46ab1.f9e3654"]]},{"id":"fcbc4cb0.2ff348","type":"link out","z":"87a97f11.d5fb4","name":"Sys wake to Elevator 1","links":["2095da36.800c96"],"x":655,"y":80,"wires":[]},{"id":"585fabf8.64b51c","type":"link out","z":"87a97f11.d5fb4","name":"Sys wake to Elevator 2","links":["dc8d5270.c2c258"],"x":655,"y":120,"wires":[]},{"id":"b429383a.8ac218","type":"link out","z":"87a97f11.d5fb4","name":"Sys wake to Elevator 3","links":["7ebef4bc.52be7c"],"x":655,"y":160,"wires":[]},{"id":"6c6b1e56.ea6ed8","type":"link out","z":"87a97f11.d5fb4","name":"Sys wake to Conditioners","links":["c0d1c5a1.bc996"],"x":655,"y":240,"wires":[]},{"id":"600dbcb9.e362d4","type":"link out","z":"87a97f11.d5fb4","name":"Sys wake to Alarms","links":["9473a222.d89c28"],"x":655,"y":280,"wires":[]},{"id":"2095da36.800c96","type":"link in","z":"826ade72.5c44f8","name":"Elevator 1 sys wake","links":["fcbc4cb0.2ff348"],"x":35,"y":440,"wires":[["ff25b9b1.6ccc28"]]},{"id":"dc8d5270.c2c258","type":"link in","z":"2d274adf.e9dcde","name":"Elevator 2 sys wake","links":["585fabf8.64b51c"],"x":35,"y":440,"wires":[["3ea4cb34.e864dc"]]},{"id":"7ebef4bc.52be7c","type":"link in","z":"3c9d4323.78dd94","name":"Elevator 3 sys wake","links":["b429383a.8ac218"],"x":35,"y":440,"wires":[["b198bca.c7b684"]]},{"id":"c0d1c5a1.bc996","type":"link in","z":"a97e9df7.9c1238","name":"Conditioners sys wake","links":["6c6b1e56.ea6ed8"],"x":45,"y":1160,"wires":[["94d76181.a86a","4a021509.69e7ec"]]},{"id":"9473a222.d89c28","type":"link in","z":"2ba2890.fc391f8","name":"Alarms sys wake","links":["600dbcb9.e362d4"],"x":35,"y":780,"wires":[["261fc07a.03e8a8"]]},{"id":"ff25b9b1.6ccc28","type":"change","z":"826ade72.5c44f8","name":"default=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":440,"wires":[["124e2fbe.e56588"]]},{"id":"3ea4cb34.e864dc","type":"change","z":"2d274adf.e9dcde","name":"default=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":440,"wires":[["affdc450.7a003"]]},{"id":"b198bca.c7b684","type":"change","z":"3c9d4323.78dd94","name":"default=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":440,"wires":[["202300cc.407218"]]},{"id":"94d76181.a86a","type":"change","z":"a97e9df7.9c1238","name":"default=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":150,"y":1160,"wires":[["d36c0244.70fcc","cc654bc7.861dd8","14599d6.1708a63","e6e1e338.5da09","df1f8fc8.f3b288","a41aec83.291a2","19825e81.3a75e9","6209a760.0003c","cddc613b.a318a"]]},{"id":"261fc07a.03e8a8","type":"change","z":"2ba2890.fc391f8","name":"default=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":780,"wires":[["ce3e2530.96c9b8","7136701b.999bd","94b8dcc1.de50f8","62bd42f9.8a63ec","f640be38.d1ea3","8a9778d0.0ab258"]]},{"id":"2505068b.0d51d2","type":"debug","z":"87a97f11.d5fb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":230,"y":160,"wires":[]},{"id":"bafe4622.93fdf8","type":"ui_slider","z":"a97e9df7.9c1238","name":"Obiettivo","label":"","group":"51d55654.40878","order":2,"width":"10","height":"1","passthru":true,"topic":"","min":0,"max":"40","step":1,"x":350,"y":1400,"wires":[["40b979ef.e7a64","8824a9cd.752c1"]]},{"id":"4a021509.69e7ec","type":"change","z":"a97e9df7.9c1238","name":"default=20","rules":[{"t":"set","p":"target_temp","pt":"flow","to":"20","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"target_temp","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":1340,"wires":[["8868921d.f99a88","bafe4622.93fdf8"]]},{"id":"fbcea068.a49db8","type":"template","z":"a97e9df7.9c1238","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"command\":\"target\",\"argument\":{{payload}}}","output":"str","x":530,"y":1340,"wires":[["290a2c5b.9d0004","e17525f3.b383b8","7ff83832.462ab8","b566bf64.b50248","1cb842d8.73d9e5","f683602b.a569f8","840153fc.81b93","cf1c8e5a.a69548"]]},{"id":"8868921d.f99a88","type":"ui_button","z":"a97e9df7.9c1238","name":"","group":"51d55654.40878","order":3,"width":0,"height":0,"passthru":true,"label":"Conferma","color":"","bgcolor":"DarkCyan","icon":"","payload":"target_temp","payloadType":"flow","topic":"","x":350,"y":1340,"wires":[["fbcea068.a49db8"]]},{"id":"40b979ef.e7a64","type":"change","z":"a97e9df7.9c1238","name":"","rules":[{"t":"set","p":"target_temp","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":1400,"wires":[[]]},{"id":"8824a9cd.752c1","type":"ui_text","z":"a97e9df7.9c1238","group":"51d55654.40878","order":1,"width":"2","height":"1","name":"Gradi","label":"","format":"{{msg.payload}} °C","layout":"row-center","x":520,"y":1440,"wires":[]},{"id":"1c25a0eb.7c1a8f","type":"link in","z":"87a97f11.d5fb4","name":"Log to dashboard","links":["1fb6b8f1.6d3877","6495dbcc.c75fb4","291fbb11.acdfa4","cd494a9f.b90578"],"x":315,"y":400,"wires":[["2c9b79c0.224856"]]},{"id":"2c9b79c0.224856","type":"function","z":"87a97f11.d5fb4","name":"Aggiungi al log","func":"global.log = (global.log || '');\nlet mp = msg.payload || '';\nif (mp.length > 0)\n{\n    if (mp == 'wake')\n    {\n        mp = \"Avvio del sistema sensoristico.\";\n    }\n    else if (mp == 'sleep')\n    {\n        mp = \"Interruzione del sistema sensoristico.\";\n    }\n    let currentdate = '<span>' + new Date().toLocaleString() + '</span> ';\n    global.log = global.log + currentdate + mp + '<br/>';\n}\nmsg.template = '<div class=\"logtextbox\">' + global.log + '</div>';\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":400,"wires":[["b00f46b9.fe4518"]]},{"id":"1fb6b8f1.6d3877","type":"link out","z":"484a9e02.419e08","name":"Elevators to Log","links":["1c25a0eb.7c1a8f"],"x":925,"y":420,"wires":[]},{"id":"6495dbcc.c75fb4","type":"link out","z":"ebd0a4a1.2aec68","name":"Elevators to Log","links":["1c25a0eb.7c1a8f"],"x":855,"y":320,"wires":[]},{"id":"291fbb11.acdfa4","type":"link out","z":"a97e9df7.9c1238","name":"Elevators to Log","links":["1c25a0eb.7c1a8f"],"x":915,"y":140,"wires":[]},{"id":"cd494a9f.b90578","type":"link out","z":"2ba2890.fc391f8","name":"Elevators to Log","links":["1c25a0eb.7c1a8f"],"x":555,"y":640,"wires":[]},{"id":"b00f46b9.fe4518","type":"ui_template","z":"87a97f11.d5fb4","group":"25ff6258.e0e1be","name":"Log","order":0,"width":0,"height":0,"format":"","storeOutMessages":false,"fwdInMessages":true,"templateScope":"local","x":630,"y":400,"wires":[[]]},{"id":"bebb68d3.e748","type":"ui_template","z":"87a97f11.d5fb4","group":"fb694978.429e8","name":"Stile log","order":0,"width":0,"height":0,"format":"<style>\n.logtextbox {\n    color: white;\n    height: 400px;\n    width: 100%;\n    overflow: auto;\n    resize: none;\n}\n.logtextbox span {\n    color: DarkCyan;\n}\n</style>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":630,"y":360,"wires":[[]]},{"id":"98310e7e.b5405","type":"ui_template","z":"87a97f11.d5fb4","group":"25ff6258.e0e1be","name":"Logo","order":0,"width":0,"height":0,"format":"<script type=\"text/javascript\">\n$(function() {\n    var logoTimer = window.setInterval(function() {\n        var toolbar = $('.md-toolbar-tools');\n        if (toolbar.length && !($('#logo').length))\n        {\n            var toolbar = $('.md-toolbar-tools');\n            var divLogo = $('<div id=\"logo\"/>');\n            divLogo[0].style.position = 'absolute';\n            divLogo[0].style.right = '10px';\n            var logo = new Image();\n            logo.src = '/img/logo.png';\n            logo.height = 50;\n            divLogo.append(logo); \n            toolbar.append(divLogo);\n            clearInterval(logoTimer);\n        }\n    }, 250);\n});\n</script>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":70,"y":40,"wires":[[]]},{"id":"507e2173.09b07","type":"rbe","z":"87a97f11.d5fb4","name":"","func":"rbe","gap":"","start":"","inout":"out","property":"payload","x":230,"y":100,"wires":[["6a4644da.04507c","2c9b79c0.224856"]]},{"id":"4f999f06.ba5e1","type":"ui_template","z":"2ba2890.fc391f8","group":"d2de2836.10d138","name":"LED F0.V1","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 1</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":640,"wires":[[]]},{"id":"13ea6d43.156c83","type":"ui_button","z":"2ba2890.fc391f8","name":"Reset F0","group":"d2de2836.10d138","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"0","payloadType":"num","topic":"","x":1140,"y":720,"wires":[["4f999f06.ba5e1","673bc495.b8da6c","211d99bb.9c2816","b94669ff.06e928"]]},{"id":"d0ff0606.e23c28","type":"ui_template","z":"2ba2890.fc391f8","group":"b0fcc899.a18f6","name":"LED F1.V1","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 1</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":840,"wires":[[]]},{"id":"d1673b83.d7ee68","type":"ui_button","z":"2ba2890.fc391f8","name":"Reset F1","group":"b0fcc899.a18f6","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"0","payloadType":"num","topic":"","x":1140,"y":920,"wires":[["d0ff0606.e23c28","6bf572ca.af7cbc","bcfb754d.aff4d8","26a8acf3.0e8a24"]]},{"id":"62bd42f9.8a63ec","type":"ui_switch","z":"2ba2890.fc391f8","name":"Allarmi F0","label":"Allarmi","group":"d2de2836.10d138","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"notifications_active","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"notifications_off","offcolor":"lightgray","x":320,"y":900,"wires":[["2df4c3e.f95563c"]]},{"id":"f640be38.d1ea3","type":"ui_switch","z":"2ba2890.fc391f8","name":"Allarmi F1","label":"Allarmi","group":"b0fcc899.a18f6","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"notifications_active","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"notifications_off","offcolor":"lightgray","x":320,"y":940,"wires":[["73749464.8858bc"]]},{"id":"f3a22aa1.8b5f78","type":"ui_template","z":"2ba2890.fc391f8","group":"17ea6e8a.892d39","name":"LED F2.V1","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 1</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":1040,"wires":[[]]},{"id":"78c19f47.cf0f6","type":"ui_button","z":"2ba2890.fc391f8","name":"Reset F2","group":"17ea6e8a.892d39","order":3,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"0","payloadType":"num","topic":"","x":1140,"y":1120,"wires":[["f3a22aa1.8b5f78","102d4ba4.28cbd4","265d1b4e.d70b14","3c669116.2e84de"]]},{"id":"8a9778d0.0ab258","type":"ui_switch","z":"2ba2890.fc391f8","name":"Allarmi F2","label":"Allarmi","group":"17ea6e8a.892d39","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"notifications_active","oncolor":"red","offvalue":"0","offvalueType":"num","officon":"notifications_off","offcolor":"lightgray","x":320,"y":980,"wires":[["35309681.77198a"]]},{"id":"85c48ab.5640878","type":"ui_template","z":"2ba2890.fc391f8","group":"b568b2b8.45c218","name":"LED F-2.V2","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 2</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":280,"wires":[[]]},{"id":"af36738e.df7ca","type":"ui_template","z":"2ba2890.fc391f8","group":"b568b2b8.45c218","name":"LED F-2.V3","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 3</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":320,"wires":[[]]},{"id":"925818ca.8e1988","type":"ui_template","z":"2ba2890.fc391f8","group":"b568b2b8.45c218","name":"LED F-2.V4","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 4</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":360,"wires":[[]]},{"id":"9e4c891.f63c978","type":"change","z":"2ba2890.fc391f8","name":"","rules":[{"t":"set","p":"alarm_p","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":780,"wires":[[]]},{"id":"4bbbae44.da12c","type":"change","z":"2ba2890.fc391f8","name":"","rules":[{"t":"set","p":"alarm_fm2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":820,"wires":[[]]},{"id":"f39856df.c84f68","type":"change","z":"2ba2890.fc391f8","name":"","rules":[{"t":"set","p":"alarm_fm1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":860,"wires":[[]]},{"id":"2df4c3e.f95563c","type":"change","z":"2ba2890.fc391f8","name":"","rules":[{"t":"set","p":"alarm_f0","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":900,"wires":[[]]},{"id":"35309681.77198a","type":"change","z":"2ba2890.fc391f8","name":"","rules":[{"t":"set","p":"alarm_f2","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":980,"wires":[[]]},{"id":"73749464.8858bc","type":"change","z":"2ba2890.fc391f8","name":"","rules":[{"t":"set","p":"alarm_f1","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":940,"wires":[[]]},{"id":"8bd92787.63b878","type":"switch","z":"2ba2890.fc391f8","name":"if alarm_p=1","property":"alarm_p","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":60,"wires":[["cdf42d53.a2c9b","b02a863b.6951c"]]},{"id":"e3a1817c.7e1b1","type":"switch","z":"2ba2890.fc391f8","name":"switch per partizione","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"^alarm/P","vt":"str","case":false},{"t":"regex","v":"^alarm/F-2","vt":"str","case":false},{"t":"regex","v":"^alarm/F-1","vt":"str","case":false},{"t":"regex","v":"^alarm/F0","vt":"str","case":false},{"t":"regex","v":"^alarm/F1","vt":"str","case":false},{"t":"regex","v":"^alarm/F2","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":6,"x":590,"y":240,"wires":[["8bd92787.63b878"],["202a48e3.171528"],["fc5279c1.fcaad8"],["7f5389a4.1e5888"],["39ddcb9.2180734"],["800a2fde.03772"]]},{"id":"202a48e3.171528","type":"switch","z":"2ba2890.fc391f8","name":"if alarm_fm2=1","property":"alarm_fm2","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":260,"wires":[["857dfc07.b6f1f","b02a863b.6951c"]]},{"id":"9be5b602.857008","type":"switch","z":"8e35a52a.e99558","name":"switch per allarme","property":"topic","propertyType":"msg","rules":[{"t":"regex","v":"1/alarms$","vt":"str","case":false},{"t":"regex","v":"2/alarms$","vt":"str","case":false},{"t":"regex","v":"3/alarms$","vt":"str","case":false},{"t":"regex","v":"4/alarms$","vt":"str","case":false}],"checkall":"true","repair":false,"outputs":4,"x":200,"y":60,"wires":[["21461276.ae261e"],["868df1e6.b5fdb"],["e8bfd6a0.3eeac8"],["494c4850.db1e28"]]},{"id":"857dfc07.b6f1f","type":"subflow:8e35a52a.e99558","z":"2ba2890.fc391f8","x":1160,"y":260,"wires":[["da0f00d3.6258a"],["85c48ab.5640878"],["af36738e.df7ca"],["925818ca.8e1988"]]},{"id":"cdf42d53.a2c9b","type":"subflow:8e35a52a.e99558","z":"2ba2890.fc391f8","name":"","x":1160,"y":60,"wires":[["c33b95e3.f6e398"],["87f6771a.49f2a8"],["3c2766a.5fac61a"],["185b09cb.2a9d36"]]},{"id":"3d518e.539a0e72","type":"ui_template","z":"2ba2890.fc391f8","group":"3a918525.8867c2","name":"LED F-1.V2","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 2</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":480,"wires":[[]]},{"id":"426d8f4c.0396c","type":"ui_template","z":"2ba2890.fc391f8","group":"3a918525.8867c2","name":"LED F-1.V3","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 3</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":520,"wires":[[]]},{"id":"58f69835.f3d8f8","type":"ui_template","z":"2ba2890.fc391f8","group":"3a918525.8867c2","name":"LED F-1.V4","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 4</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":560,"wires":[[]]},{"id":"494c4850.db1e28","type":"change","z":"8e35a52a.e99558","name":"payload=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":220,"wires":[[]]},{"id":"e8bfd6a0.3eeac8","type":"change","z":"8e35a52a.e99558","name":"payload=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":160,"wires":[[]]},{"id":"868df1e6.b5fdb","type":"change","z":"8e35a52a.e99558","name":"payload=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":100,"wires":[[]]},{"id":"21461276.ae261e","type":"change","z":"8e35a52a.e99558","name":"payload=1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":560,"y":40,"wires":[[]]},{"id":"fc5279c1.fcaad8","type":"switch","z":"2ba2890.fc391f8","name":"if alarm_fm1=1","property":"alarm_fm1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":460,"wires":[["c6dabd1d.febb1","b02a863b.6951c"]]},{"id":"c6dabd1d.febb1","type":"subflow:8e35a52a.e99558","z":"2ba2890.fc391f8","x":1160,"y":460,"wires":[["e43a9af8.383118"],["3d518e.539a0e72"],["426d8f4c.0396c"],["58f69835.f3d8f8"]]},{"id":"673bc495.b8da6c","type":"ui_template","z":"2ba2890.fc391f8","group":"d2de2836.10d138","name":"LED F0.V2","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 2</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":680,"wires":[[]]},{"id":"211d99bb.9c2816","type":"ui_template","z":"2ba2890.fc391f8","group":"d2de2836.10d138","name":"LED F0.V3","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 3</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":720,"wires":[[]]},{"id":"b94669ff.06e928","type":"ui_template","z":"2ba2890.fc391f8","group":"d2de2836.10d138","name":"LED F0.V4","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 4</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":760,"wires":[[]]},{"id":"7f5389a4.1e5888","type":"switch","z":"2ba2890.fc391f8","name":"if alarm_f0=1","property":"alarm_f0","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":660,"wires":[["380800c4.a07a8","b02a863b.6951c"]]},{"id":"380800c4.a07a8","type":"subflow:8e35a52a.e99558","z":"2ba2890.fc391f8","x":1160,"y":660,"wires":[["4f999f06.ba5e1"],["673bc495.b8da6c"],["211d99bb.9c2816"],["b94669ff.06e928"]]},{"id":"39ddcb9.2180734","type":"switch","z":"2ba2890.fc391f8","name":"if alarm_f1=1","property":"alarm_f1","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":860,"wires":[["74006cd0.00a964","b02a863b.6951c"]]},{"id":"74006cd0.00a964","type":"subflow:8e35a52a.e99558","z":"2ba2890.fc391f8","x":1160,"y":860,"wires":[["d0ff0606.e23c28"],["6bf572ca.af7cbc"],["bcfb754d.aff4d8"],["26a8acf3.0e8a24"]]},{"id":"800a2fde.03772","type":"switch","z":"2ba2890.fc391f8","name":"if alarm_f2=1","property":"alarm_f2","propertyType":"flow","rules":[{"t":"eq","v":"1","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":930,"y":1060,"wires":[["56a33d99.6f3474","b02a863b.6951c"]]},{"id":"56a33d99.6f3474","type":"subflow:8e35a52a.e99558","z":"2ba2890.fc391f8","x":1160,"y":1060,"wires":[["f3a22aa1.8b5f78"],["102d4ba4.28cbd4"],["265d1b4e.d70b14"],["3c669116.2e84de"]]},{"id":"6bf572ca.af7cbc","type":"ui_template","z":"2ba2890.fc391f8","group":"b0fcc899.a18f6","name":"LED F1.V2","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 2</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":880,"wires":[[]]},{"id":"bcfb754d.aff4d8","type":"ui_template","z":"2ba2890.fc391f8","group":"b0fcc899.a18f6","name":"LED F1.V3","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 3</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":920,"wires":[[]]},{"id":"26a8acf3.0e8a24","type":"ui_template","z":"2ba2890.fc391f8","group":"b0fcc899.a18f6","name":"LED F1.V4","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 4</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":960,"wires":[[]]},{"id":"102d4ba4.28cbd4","type":"ui_template","z":"2ba2890.fc391f8","group":"17ea6e8a.892d39","name":"LED F2.V2","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 2</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":1080,"wires":[[]]},{"id":"265d1b4e.d70b14","type":"ui_template","z":"2ba2890.fc391f8","group":"17ea6e8a.892d39","name":"LED F2.V3","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 3</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":1120,"wires":[[]]},{"id":"3c669116.2e84de","type":"ui_template","z":"2ba2890.fc391f8","group":"17ea6e8a.892d39","name":"LED F2.V4","order":1,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Corridoio 4</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1500,"y":1160,"wires":[[]]},{"id":"f48b4cc8.24ef3","type":"ui_button","z":"2ba2890.fc391f8","name":"Scenario Giorno","group":"382bd10b.08473e","order":3,"width":0,"height":0,"passthru":false,"label":"Giorno","color":"","bgcolor":"Gray","icon":"","payload":"giorno","payloadType":"str","topic":"","x":90,"y":1040,"wires":[["54ac12d6.a08b7c"]]},{"id":"f46aa7d5.3ea5c8","type":"ui_button","z":"2ba2890.fc391f8","name":"Scenario Notte","group":"382bd10b.08473e","order":3,"width":0,"height":0,"passthru":false,"label":"Notte","color":"","bgcolor":"Red","icon":"","payload":"notte","payloadType":"str","topic":"","x":90,"y":1080,"wires":[["54ac12d6.a08b7c"]]},{"id":"d3803f98.95992","type":"ui_button","z":"2ba2890.fc391f8","name":"Scenario Ronda","group":"382bd10b.08473e","order":3,"width":0,"height":0,"passthru":false,"label":"Ronda","color":"","bgcolor":"Brown","icon":"","payload":"ronda","payloadType":"str","topic":"","x":90,"y":1120,"wires":[["54ac12d6.a08b7c"]]},{"id":"54ac12d6.a08b7c","type":"function","z":"2ba2890.fc391f8","name":"switch per payload","func":"let setting = [];\nswitch (msg.payload.toLowerCase())\n{\n    case 'giorno':\n        setting = [0, 0, 0, 0, 0, 0];\n        break;\n    case 'ronda':\n        setting = [1, 0, 0, 0, 0, 0];\n        break;\n    default:\n        setting = [1, 1, 1, 1, 1, 1];\n}\nlet result = [];\nsetting.forEach(function(element){\n    result.push({payload: element});\n});\nreturn result;","outputs":6,"noerr":0,"x":320,"y":1080,"wires":[["94b8dcc1.de50f8"],["7136701b.999bd"],["ce3e2530.96c9b8"],["62bd42f9.8a63ec"],["f640be38.d1ea3"],["8a9778d0.0ab258"]]},{"id":"5e7662dc.60ca8c","type":"subflow:6b6a5161.5fe1","z":"484a9e02.419e08","x":570,"y":60,"wires":[["2a60f433.c1ea4c"],["edb9f684.5c6b88"],["b766d524.9639e8"],["7b1cb6f7.36cbd8"]]},{"id":"aee03f12.13e1","type":"subflow:6b6a5161.5fe1","z":"484a9e02.419e08","name":"","x":580,"y":220,"wires":[["abddea7a.bc3c5"],["1fa245c5.9074d2"],["6a6ed37e.9bbac4"],["46827240.dc4e9c"]]},{"id":"185b09cb.2a9d36","type":"ui_template","z":"2ba2890.fc391f8","group":"33eed976.89a616","name":"LED P4","order":3,"width":0,"height":0,"format":"<div class=\"led-container\"><p class=\"led-text\">Tetto, Porta 2</p><div class=\"led{{msg.payload === 1 ? '-blinking' : ''}}\" /></div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":1490,"y":160,"wires":[[]]},{"id":"12b8d05f.b2246","type":"link in","z":"d048ff10.f11ad","name":"Elevator 4 stats","links":["7b1cb6f7.36cbd8"],"x":35,"y":160,"wires":[["6accc7b.2468f38","5a3f129e.2fbb6c"]]},{"id":"a69112b3.d133e","type":"link in","z":"d048ff10.f11ad","name":"Elevator 4 messages","links":["46827240.dc4e9c"],"x":35,"y":320,"wires":[["ec0f6455.a77ed8"]]},{"id":"9e384254.857cc","type":"mqtt out","z":"d048ff10.f11ad","name":"","topic":"elevator/4/commands","qos":"2","retain":"false","broker":"9d9ccb26.77e3d8","x":970,"y":320,"wires":[]},{"id":"a581193a.ab2a38","type":"ui_chart","z":"d048ff10.f11ad","name":"","group":"fb58e3d6.92727","order":1,"width":"0","height":"0","label":"Piano","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-2","ymax":"2","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":410,"y":120,"wires":[[],[]]},{"id":"6accc7b.2468f38","type":"change","z":"d048ff10.f11ad","name":"Estrai floor","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.floor","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":190,"y":100,"wires":[["b6f121f6.02879","a581193a.ab2a38"]]},{"id":"4a8177d4.0f6488","type":"ui_text","z":"d048ff10.f11ad","group":"5d5e05ab.d0a4fc","order":3,"width":0,"height":0,"name":"Direzione","label":"Direzione:","format":"{{msg.payload}}","layout":"row-center","x":740,"y":160,"wires":[]},{"id":"b6f121f6.02879","type":"ui_text","z":"d048ff10.f11ad","group":"5d5e05ab.d0a4fc","order":2,"width":0,"height":0,"name":"Piano","label":"Piano:","format":"{{msg.payload}}","layout":"row-center","x":410,"y":80,"wires":[]},{"id":"3de10f83.e46e5","type":"ui_text","z":"d048ff10.f11ad","group":"5d5e05ab.d0a4fc","order":1,"width":0,"height":0,"name":"Funzionamento","label":"Funzionamento:","format":"{{msg.payload}}","layout":"row-center","x":720,"y":220,"wires":[]},{"id":"457f6d9d.988d64","type":"ui_switch","z":"d048ff10.f11ad","name":"","label":"Manutenzione","group":"faa421d2.9b4ce","order":0,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"2","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":560,"y":320,"wires":[["f23e862f.853548"]]},{"id":"5eb3c24c.fc844c","type":"ui_button","z":"d048ff10.f11ad","name":"","group":"faa421d2.9b4ce","order":0,"width":0,"height":0,"passthru":false,"label":"Reset","color":"","bgcolor":"DarkCyan","icon":"","payload":"3","payloadType":"num","topic":"","x":570,"y":380,"wires":[["f23e862f.853548"]]},{"id":"65093dc4.51f384","type":"function","z":"1919e428.f8157c","name":"","func":"let a = [];\na[-1] = \"Giù\";\na[0] = \"Fermo\";\na[1] = \"Su\";\nmsg.payload = a[msg.payload.direction];\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":60,"wires":[[]]},{"id":"ae5ed79b.9d58b8","type":"link in","z":"d048ff10.f11ad","name":"Elevator 4 sys wake","links":["5b46ab1.f9e3654"],"x":35,"y":440,"wires":[["a4779b5f.0a6708"]]},{"id":"a4779b5f.0a6708","type":"change","z":"d048ff10.f11ad","name":"default=0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":140,"y":440,"wires":[["457f6d9d.988d64"]]},{"id":"5a3f129e.2fbb6c","type":"subflow:1919e428.f8157c","z":"d048ff10.f11ad","x":410,"y":160,"wires":[["4a8177d4.0f6488"]]},{"id":"a2d6c086.b785d","type":"subflow:1919e428.f8157c","z":"3c9d4323.78dd94","name":"","x":410,"y":160,"wires":[["ab645640.665b3"]]},{"id":"55778fb5.5e8c8","type":"subflow:1919e428.f8157c","z":"2d274adf.e9dcde","name":"","x":410,"y":160,"wires":[["56af9a40.55f8ac"]]},{"id":"f990c513.dd0388","type":"subflow:1919e428.f8157c","z":"826ade72.5c44f8","name":"","x":410,"y":160,"wires":[["85759885.3b2918"]]},{"id":"68925774.8e5788","type":"subflow:c6e1491d.28c4b8","z":"826ade72.5c44f8","x":410,"y":220,"wires":[["4fd03ad6.362624"],["124e2fbe.e56588"]]},{"id":"4ac32f78.1254f","type":"subflow:c6e1491d.28c4b8","z":"2d274adf.e9dcde","name":"","x":410,"y":220,"wires":[["9fc387ea.2efd88"],["affdc450.7a003"]]},{"id":"312f0a55.fabb46","type":"subflow:c6e1491d.28c4b8","z":"3c9d4323.78dd94","name":"","x":410,"y":220,"wires":[["b803f9e9.06e24"],["202300cc.407218"]]},{"id":"e3bb7052.970b7","type":"subflow:c6e1491d.28c4b8","z":"d048ff10.f11ad","name":"","x":410,"y":220,"wires":[["3de10f83.e46e5"],["457f6d9d.988d64"]]},{"id":"7b1cb6f7.36cbd8","type":"link out","z":"484a9e02.419e08","name":"Elevators stats to 4","links":["12b8d05f.b2246"],"x":715,"y":140,"wires":[]},{"id":"46827240.dc4e9c","type":"link out","z":"484a9e02.419e08","name":"Elevators messages to 4","links":["a69112b3.d133e"],"x":715,"y":300,"wires":[]},{"id":"5b46ab1.f9e3654","type":"link out","z":"87a97f11.d5fb4","name":"Sys wake to Elevator 4","links":["ae5ed79b.9d58b8"],"x":655,"y":200,"wires":[]},{"id":"95e00d36.c9b23","type":"ui_chart","z":"a97e9df7.9c1238","name":"","group":"fb58e3d6.92727","order":2,"width":0,"height":0,"label":"Temperatura","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"40","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#ff8b0b","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":350,"y":480,"wires":[[],[]]},{"id":"a9e26800.107928","type":"ui_gauge","z":"a97e9df7.9c1238","name":"Temperatura","group":"5d5e05ab.d0a4fc","order":5,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"40","colors":["#0080ff","#00b500","#f21f00"],"seg1":"16","seg2":"24","x":350,"y":520,"wires":[]},{"id":"85fe8b92.4958e8","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","x":550,"y":760,"wires":[["290a2c5b.9d0004"]]},{"id":"ae0e9e86.e9fba","type":"subflow:dc0d09f5.d78628","z":"826ade72.5c44f8","name":"","x":760,"y":320,"wires":[["965419e0.0a91c8"]]},{"id":"534604da.97ec4c","type":"subflow:dc0d09f5.d78628","z":"2d274adf.e9dcde","name":"","x":760,"y":320,"wires":[["6ae48fb6.9fb9c8"]]},{"id":"1bf1736a.c1685d","type":"subflow:dc0d09f5.d78628","z":"3c9d4323.78dd94","name":"","x":760,"y":320,"wires":[["dd071ac5.204618"]]},{"id":"f23e862f.853548","type":"subflow:dc0d09f5.d78628","z":"d048ff10.f11ad","name":"","x":760,"y":320,"wires":[["9e384254.857cc"]]},{"id":"5479822e.10661c","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":820,"wires":[["e17525f3.b383b8"]]},{"id":"77ca43ef.a442dc","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":880,"wires":[["7ff83832.462ab8"]]},{"id":"736470a2.3bdcd","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":1000,"wires":[["b566bf64.b50248"]]},{"id":"3aedd87d.4ce518","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":1060,"wires":[["1cb842d8.73d9e5"]]},{"id":"e4c2dc3c.e6418","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":1120,"wires":[["f683602b.a569f8"]]},{"id":"98db8f79.0e98c","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":1180,"wires":[["840153fc.81b93"]]},{"id":"ec3a3f20.5a6a5","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":1240,"wires":[["cf1c8e5a.a69548"]]},{"id":"5a8c38cc.d8a218","type":"subflow:91ae88c6.50d088","z":"a97e9df7.9c1238","x":100,"y":300,"wires":[["2c272c08.83698c","aa711d2d.176998"],["3f155d60.0ff95a","7c593f74.785b88"],["8c416cca.9e958","36424640.1d0dba"],["95e00d36.c9b23","a9e26800.107928"],["68900f7f.c2d6c8","27e67d31.e6bd6a"],["7d3661d2.c66cf","c098d816.236a8"],["54828cd0.0bb894","dfad4146.12b598"],["102718f8.8ffdaf","4480bf20.59aad"],["aa43f97d.cfbb68","f41c0d73.8ecdb"]]},{"id":"28e0c710.f02c48","type":"subflow:91ae88c6.50d088","z":"a97e9df7.9c1238","name":"","x":110,"y":820,"wires":[["d36c0244.70fcc"],["cc654bc7.861dd8"],["14599d6.1708a63"],["cddc613b.a318a"],["e6e1e338.5da09"],["df1f8fc8.f3b288"],["a41aec83.291a2"],["19825e81.3a75e9"],["6209a760.0003c"]]},{"id":"cddc613b.a318a","type":"ui_switch","z":"a97e9df7.9c1238","name":"","label":"Condizionatore","group":"faa421d2.9b4ce","order":3,"width":0,"height":0,"passthru":false,"decouple":"true","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":370,"y":940,"wires":[["108d833f.7739fd"]]},{"id":"42124638.60cc68","type":"mqtt out","z":"a97e9df7.9c1238","name":"","topic":"conditioner/Elevator4/commands","qos":"","retain":"","broker":"9d9ccb26.77e3d8","x":810,"y":940,"wires":[]},{"id":"108d833f.7739fd","type":"subflow:dc0d09f5.d78628","z":"a97e9df7.9c1238","name":"","x":550,"y":940,"wires":[["42124638.60cc68"]]},{"id":"2f93b376.49c01c","type":"subflow:deac7415.4f8d98","z":"826ade72.5c44f8","x":210,"y":320,"wires":[["68925774.8e5788"],["124e2fbe.e56588"]]},{"id":"22456c2a.eac744","type":"subflow:deac7415.4f8d98","z":"2d274adf.e9dcde","name":"","x":210,"y":320,"wires":[["4ac32f78.1254f"],["affdc450.7a003"]]},{"id":"57c5fc9e.4098a4","type":"subflow:deac7415.4f8d98","z":"3c9d4323.78dd94","name":"","x":210,"y":320,"wires":[["312f0a55.fabb46"],["202300cc.407218"]]},{"id":"ec0f6455.a77ed8","type":"subflow:deac7415.4f8d98","z":"d048ff10.f11ad","name":"","x":210,"y":320,"wires":[["e3bb7052.970b7"],["457f6d9d.988d64"]]}]